<!-- 
    This file contains the html (vue-template html) for the main editor
 -->

<div id="main-container" 
    :style="[showApp ? {
                    'backgroundColor': '#0001',
                    'height': '50%',
                    'width': '30%',
                    'overflow': 'hidden',
                } : {
                    'backgroundColor': 'transparent',
                    'height': '0%',
                    'width': '0%',
                }]"
> <!-- main-container when open gets a bg color of #0001 (not a typo, it's pure black but with near-complete transparency) so that its styling like table borders appear no matter which color the map bg is -->
<!--MOUSEOVER BUG FIX:
    When the container has a set size in a css file, your mouse inputs when over the main container,
        even if its closed, do not register with the game */
/* You need to have the container have 0% height & width when closed so the mouse can freely move around the top left corner 
    This is why we use the v-bind:style for this -->
<!-- overflow:hidden is to prevent editor from extending past the transparentish background of the main container -->

    <button id="toggle-btn" class="tiger-btn" @click="showApp = !showApp">
        🐅 {{ showApp ? "Close" : "Open" }} 🐅
    </button>
    <button id="tab-btn" class="tiger-btn" @click="changeTab()" v-show="showApp">
        Change Tab
    </button>

    <div id="editor" v-show="showApp && currentTab === 'editor' ">
        <div v-for="(_, category) in config" 
            v-if="category !== 'themeColor' " 
        > <!-- handle themeColor separately -->
            <table>
                <thead>
                    <th colspan="2" >
                        Edit {{ category }}
                    </th>
                </thead>

                <!-- in Vue, key,val is reversed to val,key -->
                <tr v-for="(val,key) in config[category]" 
                    @change="console.log('Arras().' + category + '.' + key + ' is now ' + config[category][key])"
                >
                    <td>
                        {{ key }}
                    </td>

                    <!-- use the type of the value to determine the type of input selector :: typeof won't work because Vue represents numbers as strings -->
                    <td v-if="getType(val) === 'number' ">
                        <input type="number" v-model.number="config[category][key]">
                    </td>

                    <td v-else-if="getType(val) === 'boolean' ">
                        <label>true:</label>
                        <input type="radio" :name="key" :value="true" v-model="config[category][key]">
                        <br>
                        <label>false:</label>
                        <input type="radio" :name="key" :value="false" v-model="config[category][key]">
                    </td>

                    <td v-else>
                        <!-- This means that the type of one of the properties was not recognized by this.getType() -->
                        <strong>:( This is broken. Please ping Road#6943 in Discord to fix this. ):</strong>
                    </td>
                </tr>
            </table>
        </div>

        <div> <!-- themeColor is treated differently from other Arras() properties because color pickers need special attention (like the color descriptions, etc...) -->
            <table>
                <thead>
                    <th colspan="3" >
                        Edit themeColor
                    </th>
                </thead>

                <tr>
                    <td>
                        border
                    </td>
                    <td colspan="2" >
                        <input type="number" v-model.number="config.themeColor.border" 
                                @change="console.log('Arras().themeColor.border is now ' + config.themeColor.border)"
                        >
                    </td>
                </tr>

                <tr v-for="[ description, colorName ] in colorDescriptions" >

                    <!-- A "dummy" column, so that the color picker doesn't flow out of the main-container -->
                    <!-- Verte-related -->
                    <td class="dummy-column">
                        {{ colorName }}
                    </td>

                    <td>
                        <!-- Why won't menuPosition="right" work!!! --> <!-- Verte-related -->
                        <verte picker="square" model="hex" menuPosition="right"
                                v-model="config.themeColor.table[ colorNames.indexOf(colorName) ]"
                                @input=" console.log( colorName + ' is now ' + getHex(colorName) ) "
                        ></verte>
                    </td>

                    <td>
                        {{ description }}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="extras" v-show="showApp && currentTab === 'extras' ">
        <table>
            <tr>
                <td>
                    <input id="import-theme-input" type="text" 
                        placeholder="Import Theme" v-model="importedTheme"
                    >
                </td>
                <td>
                    <button class="tiger-btn" @click="importTheme()">
                        Import
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="tiger-btn" @click="exportTheme('tiger')">
                        🐅 Export Tiger Theme 🐅
                    </button>
                </td>
                <td>
                    Best Option. Includes everything.
                </td>
            </tr>
            <tr>
                <td>
                    <button class="tiger-btn" @click="exportTheme('backwardsCompatible')">
                        Export Backwards-Compatible Theme
                    </button>
                </td>
                <td>
                    Only includes colors (and the border size). DOES NOT INCLUDE ANY OTHER VALUES SUCH AS FOR GRAPHICAL OR GUI PROPERTIES.
                </td>
            </tr>
        </table>

        
        
    </div>
</div>
