/*
    This file contains the css (non-userscript specific or library-imported) that makes the editor appear and then look presentable
*/

/* These make sure the editor doesn't take up the whole screen
** and instead stays in a nice neat tiny box */
html,body {
    height: 100%;
    width: 100%;
}
#main-container {
    height: 50%;
    width: 30%;
}
#editor {
    height: 100%;
    overflow-y: scroll;

    width: 100%;
    overflow-x: scroll;
}

/* dummy column adds space for the color picker to fully expand into */
/* Verte-related */
td.dummy-column {
    width: 100px;
}

/* makes number inputs and toggle button transparent */
#main-container input[type="number"], #toggle-btn {
    background-color:transparent;
}
/* adds outline to text so its visible against any background color, # of repeated shadows determines strength of outline */
/* from https://stackoverflow.com/a/57465026 */
/* also making all text bold and Ubuntu, so its easier to see */
#main-container, #main-container input[type="number"], #toggle-btn {
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    color: white;
    
    font-weight: bold;
    /* no need to import Ubuntu font, Arras's default styling will take over in-game and provide it for free */
}

/* makes the items more easy to visually separate from each other and the borders of the main-container */
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 10px;
}

/* forces the radio buttons and their labels to be in 1 line right next to each other, not spread apart across multiple lines */
#main-container input[type="radio"] {
    width: auto;
}
