<!-- This file is helpful for rapidly testing ui changes without having to deal with reloading the userscript and going in game to test it out every time -->
<!-- KEEP IN MIND THAT THIS HTML FILE WILL NOT LOOK IDENTICAL, or even that close stying-wise, TO THE ACTUAL GAME VERSION DUE TO ARRAS's OWN CSS STYLING INTERFERING -->

<!-- Vue.js -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

<!-- Color Picker -->
<script src="https://cdn.jsdelivr.net/npm/verte"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/verte@0.0.12/dist/verte.css">

<!-- Verte-related indicates a fix done because of a problem with the Verte color picker, if I ever want to replace it with a different color picker, this stuff can be modified, if not outright removed-->
<!-- look into these color pickers later: 
https://bgrins.github.io/spectrum/ 
https://caohenghu.github.io/vue-colorpicker/
https://vue-accessible-color-picker.netlify.app/
-->

<script>
// this is what you get from typing Arras() into the console (in game, with default settings I think)
function Arras() {
    return (
        {
  graphical: {
    screenshotMode: false,
    borderChunk: 6,
    barChunk: 5,
    compensationScale: 1.114,
    lowGraphics: false,
    alphaAnimations: true,
    inversedRender: true,
    miterStars: true,
    miter: false,
    fontSizeOffset: 0,
    shieldbars: false,
    renderGrid: true,
    darkBorders: false,
    neon: false
  },
  gui: { enabled: true, alcoveSize: 200, spacing: 20 },
  themeColor: {
    table: [
      '#7adbbc', '#b9e87e', '#e7896d',
      '#fdf380', '#b58efd', '#ef99c3',
      '#e8ebf7', '#aa9f9e', '#ffffff',
      '#484848', '#3ca4cb', '#8abc3f',
      '#e03e41', '#efc74b', '#8d6adf',
      '#cc669c', '#a7a7af', '#726f6f',
      '#dbdbdb', '#000000'
    ],
    border: 0.6509803921568628
  }
}
    )
}
</script>









<!-- ********************************************************************************* -->




<!-- Start copying and pasting from here into getAppHTMLAndCSS() function
* For stuff above, use @require to include external js and @resource,grant GM_getResourceText, grant GM_addStyle for external css
* replace Arras() function with the one built into arras itself
-->

<!-- ::BEGIN::EDITOR_HTML:: -->


<div id="app">

    <button id="toggle-btn" @click="showEditor = !showEditor">
        {{ showEditor ? "Close Editor" : "Open Editor" }}
    </button>

    <div id="editor" v-show="showEditor">
        <div v-for="(_, category) in config" 
            v-if="category !== 'themeColor' " 
        > <!-- handle themeColor separately -->
            <table>
                <thead>
                    <th colspan="2" >
                        Edit {{ category }}
                    </th>
                </thead>

                <!-- in Vue, key,val is reversed to val,key -->
                <tr v-for="(val,key) in config[category]" @change="renderChange(category, key)">
                    <td>
                        {{ key }}
                    </td>

                    <!-- use the type of the value to determine the type of input selector :: typeof won't work because Vue represents numbers as strings -->
                    <td v-if="getType(val) === 'number' ">
                        <input type="number" v-model.number="config[category][key]">
                    </td>

                    <td v-else-if="getType(val) === 'boolean' ">
                        <label>true:</label>
                        <input type="radio" :name="key" :value="true" v-model="config[category][key]">
                        <br>
                        <label>false:</label>
                        <input type="radio" :name="key" :value="false" v-model="config[category][key]">
                    </td>

                    <td v-else>
                        <!-- This means that the type of one of the properties was not recognized by this.getType() -->
                        <strong>:( This is broken. Please ping Road#6943 in Discord to fix this. ):</strong>
                    </td>
                </tr>
            </table>
        </div>

        <div> <!-- themeColor is treated differently from other Arras() properties because color pickers need special attention (like the color descriptions, etc...) -->
            <table>
                <thead>
                    <th colspan="3" >
                        Edit themeColor
                    </th>
                </thead>

                <tr>
                    <td>
                        border
                    </td>
                    <td colspan="2" >
                        <input type="number" v-model.number="config.themeColor.border" @change="renderChange('themeColor', 'border')">
                    </td>
                </tr>

                <tr v-for="[ description, colorName ] in colorDescriptions" >

                    <!-- A "dummy" column, so that the color picker doesn't flow out of the app -->
                    <!-- Verte-related -->
                    <td class="dummy-column">
                        {{ colorName }}
                        <br>
                        {{ getHex(colorName) }}
                    </td>

                    <td>
                        <!-- Why won't menuPosition="right" work!!! --> <!-- Verte-related -->
                        <verte picker="square" model="hex" menuPosition="right"
                                v-model="config.themeColor.table[ colorNames.indexOf(colorName) ]"
                                @input="renderChange('themeColor', 'table', colorName) "
                        ></verte>
                    </td>

                    <td>
                        {{ description }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- ::END::EDITOR_HTML:: -->

<!-- ::BEGIN::EDITOR_CSS:: -->

<style>
    /* These make sure the editor doesn't take up the whole screen
    ** and instead stays in a nice neat tiny box */
    html,body {
        height: 100%;
        width: 100%;
    }
    #app {
        height: 50%;
        width: 30%;
    }
    #editor {
        height: 100%;
        overflow-y: scroll;

        width: 100%;
        overflow-x: scroll;
    }

    /* dummy column adds space for the color picker to fully expand into */
    /* Verte-related */
    td.dummy-column {
        width: 100px;
    }

    /* adds outline to text so its visible against any background color, # of repeated shadows determines strength of outline */
    /* from https://stackoverflow.com/a/57465026 */
    /* also making all text bold and Ubuntu, so its easier to see */
    #app {
        text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
        color: white;
        
        font-weight: bold;
        /* no need to import Ubuntu font, Arras's default styling will take over in-game and provide it for free */
    }

    /* makes the items more easy to visually separate from each other and the borders of the app */
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 10px;
    }

    /* forces the radio buttons and their labels to be in 1 line right next to each other, not spread apart across multiple lines */
    #app input[type="radio"] {
        width: auto;
    }

</style>
<!-- ::END::EDITOR_CSS:: -->




<!-- PASTE HTML & CSS Together, but keep the JS stuff separate, and only add it AFTER the HTML&CSS 
    This gets pasted into the runAppJS() function
-->


<script>

// only start script on load to prevent Vue from going haywire
window.addEventListener("load", event => {

    /* ::BEGIN::EDITOR_JS:: */
    var app = new Vue({
        el: "#app",

        data: {
            showEditor: true, // if this starts out false, then the color pickers break when used with v-show, and you'll have to use the (very) inefficient v-if instead, which causes a noticable momentary lag in the game /* Verte-related */
            config: Arras(),
            // colorNames is an array of the names of the colors in the array at Arras().themeColor.table, in the same order
            colorNames: ["teal","lgreen","orange","yellow","lavender","pink","vlgrey","lgrey","guiwhite","black","blue","green","red","gold","purple","magenta","grey","dgrey","white","guiblack"],
            // colorNames and colorDescriptions CANNOT be combined because the order for colorNames is a bad description order (you shouldn't put magenta far apart from blue/green/red, etc...)
            colorDescriptions: [
                /* "Utility" stuff, not sure how to describe these */
                /* Borders -- at top since the border size selector is right above the color selectors */
                ["Borders, Text Outlines, Health Bar Background"
                    , "black"],
                ["Map Background"
                    , "white"],
                ["Text Color"
                    , "guiwhite"],
                
                /* Teams */
                ["Your tank in FFA, Left team in 2TDM, Top left team in 4TDM" 
                    , "blue"],
                ["Enemy tanks in FFA, Bottom left team in 4TDM"
                    , "red"],
                ["Right team in 2TDM, Top right team in 4TDM, Score Bar"
                    , "green"],
                ["Bottom right team in 4TDM"
                    , "magenta"],
                
                /* Shapes */
                ["Rocks, Barrels, Bar Backgrounds"
                    , "grey"],
                ["Squares, Level Bar"
                    , "gold"],
                ["Triangles"
                    , "orange"],
                ["Pentagons"
                    , "purple"],
                ["Crashers"
                    , "pink"],
                ["Eggs"
                    , "vlgrey"],

                /* Bars under tanks/shapes/bosses/etc... */
                ["Main Health Bar"
                    , "lgreen"],
                ["Shield/Regen Bar"
                    , "teal"],

                /* Not sure what these do, plz help */
                ["<< YELLOW >>## Bullet Penetration Stat? ## \nNot completely sure what this does, please tell me @Road#6943 once you find out more places it is used"
                    , "yellow"],
                ["<< LAVENDER >>## Pentagon Nest Background if Enabled? ## \nNot completely sure what this does, please tell me @Road#6943 once you find out more places it is used"
                    , "lavender"],
                ["<< LIGHT_GREY >>## Absolutely No Idea What This Does ## \nNot completely sure what this does, please tell me @Road#6943 once you find out more places it is used"
                    , "lgrey"],
                ["<< DARK_GREY >>## Smasher Upgrade Color? ## \nNot completely sure what this does, please tell me @Road#6943 once you find out more places it is used"
                    , "dgrey"],
                ["<< GUI_BLACK >>## Map Border Color? But it screws up if you keep changing it? ## \nNot completely sure what this does, please tell me @Road#6943 once you find out more places it is used"
                    , "guiblack"],
            ],
        },

        methods: {
            // this is needed because vue converts everything into a string once you change a value
            // so the typeof operator won't work
            getType(val) {
                val = val.toString();
                if (val === "true" || val === "false") {
                    return "boolean";
                }
                if (!isNaN(val)) {
                    return "number";
                }
                if (val[0] === "#") {
                    return "color";
                }
            },

            // category is stuff like "graphical" or "themeColor"
            // property is the actual property that was changed, like "barChunk" or "table"
            // changedColor is something like "teal" and is only used for changes to themeColor.table
            renderChange(changedCategory, changedProperty, changedColor) {
                // only for changes to the themeColor.table array
                // border is handled like the other stuff in graphical
                if (changedCategory === "themeColor" && changedProperty === "table" && changedColor) {
                    var index = this.colorNames.indexOf(changedColor);

                    console.log(changedColor + ' was changed to:')
                    console.log(this.config.themeColor.table[index])

                    Arras().themeColor.table[index] = this.config.themeColor.table[index];
                }
                // everything else, including themeColor.border
                else {
                    console.log(changedCategory + '.' + changedProperty + ' was changed to:')
                    console.log(this.config[changedCategory][changedProperty])

                    Arras()[changedCategory][changedProperty] = this.config[changedCategory][changedProperty]
                }
            },

            // get the hexadecimal (#abc123) value for the given colorName in the themeColor table
            getHex(colorName) {
                return this.config.themeColor.table[ this.colorNames.indexOf(colorName) ];
            },
        },

        components: { Verte }, /* Verte-related */
    });
    /* ::END::EDITOR::JS:: */

});

</script>
